h1 New staff notification for #{@event.name}
p Hi, #{@inviter.username} invites you to join the staff of #{@event.name}
p Your login credentials are below:
ul
  li Username: #{@user.email}
  li Password: #{@password}
p Please change your password after login. Thank you.
a href="#{Settings.login_url}" Login from here

p Note: please do not reply to this address

p Tamashii Checkin System
